<h1>{{title}}</h1>

<div id="container">
  <div>
      <a href="/signup" role="button" class="btn btn-info">Sign up</a>
  </div>
  <br>
  <div>
      <a href="/login" role="button" class="btn btn-info">Login</a>
  </div>
  <br>
  <div>
      <a href="/logout" role="button" class="btn btn-info">Logout</a>
  </div>
  <br>
  <div>
      <a href="/secret" role="button" class="btn btn-info">Protected page (requires authentication!)</a>
  </div>
</div>